<div class="comment-container">
    {{#each this}}
    <section class="comment">
        <div class="comment-text">{{comment_text}}</div>
        <div class="metadata">-{{user.username}}, {{created_at}}</div>
    </section>
    {{/each}}
</div>