<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The Tech Blog</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bungee&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Palanquin+Dark&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <h1><a href="/" style="padding: 23px; font-family: 'Bungee', cursive;">The Tech Blog</a></h1>
        <nav>
            {{#if loggedIn}}
            <a href="/dashboard">Dashboard</a>
            <a id="logout" class="btn-no-style">Logout</a>
            {{else}}
            <a href="/login">Login</a>
            {{/if}}
        </nav>
    </header>
    <div class="main">
        {{{ body }}}
    </div>
    <footer style="padding: 23px; font-family: 'Bungee', cursive; text-align: center;">
        Made with love by Brian Kaufman
    </footer>
    {{#if loggedIn}}
    <script src="/javascript/logout.js"></script>
    {{/if}}
</body>
</html>