<section>
    <h2>Create New Blog Post</h2>

    <form class="new-post">
        <div>
            <input type="text" id="post-title" name="post-title" placeholder="Title" required>
        </div>
        <div>
            <textarea type="text" id="post-content" name="post-content" required></textarea>
        </div>
        <button type="submit" class="btn">Create Post</button>
    </form>
</section>

{{#if posts.length}}
<section>
    <h2>Your Blog Posts</h2>
    <ol>
        {{#each posts as |post|}}
        <li>
            {{> post-info post }}
            <a href="/dashboard/edit/{{post.id}}" class="edit-post">Edit Post</a>
        </li>
        {{/each}}
    </ol>
</section>
{{/if}}

<script src="/javascript/add-post.js"></script>