{{> post-info post }}
{{#if loggedIn}}
<form class="comment-form">
    <div>
        <textarea name="comment-text" id="comment-text" cols="30" rows="10"></textarea>
    </div>

    <div>
        <button type="submit">Post Comment</button>
    </div>
</form>
{{/if}}

{{> comment post.comments }}

{{#if loggedIn}}
<script src="/javascript/comment.js"></script>
{{/if}}